* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    background-color: #00000073;
    padding: 5%;
    border-radius: 10%;
    height: 60%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

aside {
    float: left;
    margin: 2%;
    padding: 1%;
}

.ant-radio-button-wrapper {
    background-color: transparent !important;
    color: white !important;
}

.ant-radio-button-wrapper-checked {
    background-color: #1c14ff !important;
    color: white !important;
}

.ant-radio-group {
    background-color: #0000000d;
    padding: 20px;
    border-radius: 10%;
}
