@font-face {
    font-family: InterMedium;
    src: url(Inter-Medium.ttf);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: InterMedium, Helvetica !important;
}

body {
    background: #121212;
}

#root {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    background: linear-gradient(
        180deg,
        rgba(236, 137, 36, 0.17) 0%,
        rgba(0, 0, 0, 0) 43.51%
    );
}

main {
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(42px);
    padding: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

aside {
    float: left;
    margin: 2%;
    padding: 1%;
}

.tab-box {
    padding: 6px;
    border-radius: 12px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(2px);
}

.tab-btn {
    padding: 25px;
    font-size: large;
    height: auto !important;
    line-height: 0;
    width: 100%;
}

.tab-btn-unchecked {
    background-color: transparent !important;
}

.ant-btn-primary {
    color: var(--white, #fff);
    width: 100%;
    border-radius: 12px;
    border: 1px solid #ff9500;
    background: #ff9e0b;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.14) inset;
}

.ant-btn-primary:disabled {
    color: var(--white, #fff);
    width: 100%;
    border-radius: 12px;
    border: 1px solid #ff9500;
    background: #ff9e0b;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.14) inset;
    opacity: 0.5;
}

.ant-btn-default {
    background-color: #ff9e0b;
    color: var(--white, #fff);
    border: transparent;
}

.ant-btn-default:disabled {
    background-color: #ff9e0b;
    color: var(--white, #fff);
    opacity: 0.5;
}

label {
    color: white;
}

.label-key {
    text-align: start;
    opacity: 0.7;
}

.label-value {
    text-align: end;
}

.token-box-container {
    border-radius: 20px;
    border: 1px solid #ffffff33;
    background-color: #ffffff0d;
    padding: 5%;
    align-items: center;
    align-self: stretch;
}

.ant-select-selector {
    background-color: #ff9500 !important;
    color: #ffffff !important;
    border: transparent !important;
    font-size: large !important;
}

.ant-select-selection-placeholder {
    color: #ffffff !important;
}

.ant-input-number-group-wrapper {
    width: 100%;
}

.ant-input-number-group-addon {
    border: transparent !important;
}

.ant-input-number-input {
    color: #ffffff !important;
}

.ant-select-clear {
    visibility: hidden;
}

.ender-col {
    display: flex;
    justify-content: end;
}

.token-pair-container {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.05);
}

.ant-table {
    background-color: transparent !important;
    color: white !important;
}

.ant-table-cell-row-hover {
    background-color: transparent !important;
}

.centralized-col {
    display: flex;
    justify-content: center;
}

.social-container {
    background: transparent;
}

a.social {
    margin: 0 0.75%;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.youtube {
    color: #eb3223;
}

a.github {
    color: black;
}

a.twitter {
    color: #41a9ff;
}

svg#logo-text {
    align-self: center;
    margin-bottom: 30px;
}

.aside-title {
    color: var(--white, #fff);
    font-size: 28px;
    font-style: normal;
    font-weight: 850;
    line-height: 0.3;
}

.aside-desc {
    color: var(--white, #fff);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mint-box {
    border-radius: 12px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 0.13);
}

.wallet-adapter-button-trigger {
    border-radius: 12px;
    border: 1px solid #ff9e0b;
    background: #ff9500;
}
